form{
  width:100%;
}
form h1{
  text-align: center;
  text-shadow: 2px 0 grey;
}
.container{
  display:flex;
  flex-direction:column;
  align-items: center;
  height:300px;
  width:100%;
  color:black;
  text-shadow:1.5px 0 aqua;
}
input{
  width:100%;
  margin-left:10px;
  margin-right:10px;
}
#change{
  margin-top:0px;
}
.log,.change{
  height:40px;
  padding:10px;

  text-align: center;
  background-color: royalblue;
  color:white;
}
input[type="email"],input[type="password"],input[type="text"]{
  padding:10px;
  margin:7px;
}
#change h4{
 margin:5px;
 color:grey;
 font-size: 20px;
}
input:focus,input:hover{
  border-top: 0;
  outline: none;
  text-align:start;
  border-bottom: 3px solid aqua;
}